<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% include analytics.html %}
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/example_works">11W Articles</a></li>
	        		<li><a href="/blog">Posts</a></li>
				<li><a href="/spotify_discover">Discover Your Music Habits</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:mtnartker@yahoo.com">Email</a></li>
	        		<li><a href="https://github.com/mtnartker/mtnartker.github.io">Github</a></li>
				<li><a href="https://www.linkedin.com/in/matthew-nartker-626632178/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
