<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/example_works">11W Articles</a></li>
	        		<li><a href="/blog">Posts</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jakeanderson2325@yahoo.com">Email</a></li>
	        		<li><a href="https://github.com/jake22anderson">Github</a></li>
				<li><a href="https://www.linkedin.com/in/jacob-a-4a77bb12b/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
